footer {
  background-color: $footer-color;
  color: $white;
  z-index: 1;
  font-family: 'Oxygen', Helvetica, sans-serif;
  text-transform: uppercase;
  li {
    a {
      color: $footer-text;
      margin-bottom: .875rem;
      &:hover {
        color: $white;
      }
    }
  }
  .vcard {
    font-size: .75rem;
    text-transform: none;
  }
}
