.issues-card {
  transform: translateY(5rem);
  z-index: 2;
}

.issue {
  border-top: $card-border-width solid $card-border-color;
  padding: 2rem 0;
  &:first-child {
    border: none;
    margin-top: 5rem;
  }
  &:last-child {
    margin-bottom: 0;
  }
}
