// Importing variables
@import './variables.scss';

// Importing component specific CSS
@import './Issues.scss';

// Importing bootstrap from node_modules
@import '~bootstrap/scss/bootstrap.scss';

// Add behind element to look more "comic book-like"
.card-comic{
  .card-body{
    background: white;
    z-index: 1;
  }
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: black;
    z-index: 0;
    transform: translate(1em, .875em);
  }
}

.slide {
  transform: translateX(.875rem);
}
