// VARIABLES
$font-size-base: .875rem;
$font-family-base: 'Arvo', serif;
$headings-font-weight: 700;

$border-width: 2px;
$card-border-width: ($border-width * 2);
$card-border-radius: 0;
$card-border-color: #000;

$secondary: #455bdc;
$primary: #cd1232;
$dark: #1e275f;
$light: #f1eeee;
$warm-grey: #4f4f4f;
$footer-color: $warm-grey;
$footer-text: #d6d6d6;

$link-color: $secondary;

$input-focus-border-color: lighten($secondary, 25%);
$input-btn-focus-width:       .2rem;
$input-btn-focus-color:       rgba($input-focus-border-color, .25);
$input-btn-focus-box-shadow:  0 0 0 $input-btn-focus-width $input-btn-focus-color;
