.cover-image {
  background-image:
    url('../images/videoHero/cover-bg.svg'),
    linear-gradient(to bottom, lighten($secondary, 35%), $secondary, $dark 100%)
  ;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
