.cover-image {
  background-image:
    url('../images/videoHero/cover-bg.svg'),
    linear-gradient(to bottom, lighten($secondary, 35%), $secondary, $dark 100%)
  ;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;

  .tagline {
    bottom: 0%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -100%);
    width: 75%;
  }
}

.play-button {
  border-radius: 50em;
  .play-icon {
    border-radius: 50em;
    height: 3rem;
    transition: box-shadow 500ms ease-in;
  }
  &:hover {
    .play-icon{
      border-radius: 50em;
      box-shadow: 1px 1px 18px 7px rgba(lighten($secondary, 50%), .8);
    }
  }
}
